--extra-index-url https://download.pytorch.org/whl/cu118

addict==2.4.0
basicsr==1.4.2
coloredlogs==15.0.1
customtkinter==5.2.0
darkdetect==0.8.0
facexlib==0.3.0
filterpy==1.4.5
gast==0.4.0
gfpgan==1.3.8
google-auth-oauthlib==1.0.0
humanfriendly==10.0
insightface==0.7.3
keras>=3.5.0
lmdb==1.5.1
numpy==1.26.4
onnx==1.14.0
onnxruntime-gpu==1.15.1
opencv-python==4.8.0.74
opennsfw2==0.10.2
pillow==10.0.0
protobuf>=5.29.1
sqlalchemy==2.0.31
tensorflow==2.18.0
tensorflow-estimator==2.15.0
tensorflow-text==2.18.1
tensorboard==2.18
tk==0.1.0
tkinterdnd2==0.3.0
torch==2.1.0+cu118
torchdata==0.11.0
torchaudio==2.1.0+cu118
torchtext==0.16.0
torchvision==0.16.0+cu118
tqdm==4.67.0
triton==2.1.0
typing-extensions>=4.11.0
pandas-stubs==1.5.3.230203
pydantic==2.8.0
pydantic-core==2.20.0
