--extra-index-url https://download.pytorch.org/whl/cu118

# PyTorch stack
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
torchtext==0.16.0
torchvision==0.16.0+cu118
triton==2.1.0

# TensorFlow stack
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorboard==2.15.1

# Compatibles con numpy>=1.26
numpy==1.26.4
typing-extensions==4.11.0

# Vision / AI tools
onnx==1.14.0
onnxruntime-gpu==1.15.1
opencv-python==4.8.0.74
gfpgan==1.3.8
basicsr==1.4.2
facexlib==0.3.0
insightface==0.7.3
filterpy==1.4.5
opennsfw2==0.10.2

# UI
customtkinter==5.2.0
darkdetect==0.8.0
tkinterdnd2==0.3.0
tk==0.1.0

# Otros
coloredlogs==15.0.1
humanfriendly==10.0
pillow==10.0.0
sqlalchemy==2.0.31
addict==2.4.0
pydantic==2.8.0
pydantic-core==2.20.0
pandas-stubs==2.0.3.230814
lmdb==1.5.1
tqdm==4.65.0
