--extra-index-url https://download.pytorch.org/whl/cu118

addict==2.4.0
basicsr==1.4.2
coloredlogs==15.0.1
customtkinter==5.2.0
darkdetect==0.8.0
facexlib==0.3.0
filterpy==1.4.5
gast==0.4.0
gfpgan==1.3.8
google-auth-oauthlib==1.0.0
humanfriendly==10.0
insightface==0.7.3
keras==2.13.1
lmdb==1.5.1
numpy==1.24.3
onnx==1.14.0
onnxruntime-gpu==1.15.1
opencv-python==4.8.0.74
opennsfw2==0.10.2
pillow==10.0.0
protobuf==3.20.3
sqlalchemy==1.4.49
tensorboard==2.13.0
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tk==0.1.0
tkinterdnd2==0.3.0
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
torchtext==0.16.0
torchvision==0.16.0+cu118
tqdm==4.67.0
triton==2.1.0
typing-extensions==4.5.0
yapf==0.40.2
pandas-stubs==1.5.3.230203
pydantic==1.10.13
pydantic-core==2.20.0
